# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# db.sqlite3
# db.sqlite3-journal
# media/
staticfiles/

# Environment variables
.env

# IDEs & OS
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
